<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- load the properties file -->
	<context:property-placeholder location="classpath:values.properties"/>
	<!-- Enable Component Scanning -->
	<context:component-scan base-package="io.spring.componentScanning,io.spring.constructorInjectionWithAnnotations,io.spring.setterInjectionWithAnnotations,io.spring.fieldInjectionWithAnnotations"></context:component-scan>
    <!-- Define your beans here -->
    <bean id="myFortune" class="io.spring.DIconstructorInjection.HappyFortuneService"></bean>
    
    <bean id="javaTopic" class="io.spring.ioc.JavaProgramming">
    </bean>
     <bean id="springTopic" class="io.spring.ioc.SpringFramework">
    </bean>
    
    <!-- Constructor Injection -->
    <bean id="javaTopicConstructorInjection" class="io.spring.DIconstructorInjection.JavaProgramming">
    <!-- Constructor Injection -->
    <constructor-arg ref="myFortune"></constructor-arg>
    </bean>
     <bean id="springTopicConstructorInjection" class="io.spring.DIconstructorInjection.SpringFramework">
     <constructor-arg ref="myFortune"></constructor-arg>
    </bean>
    
    <!-- Setter Injection -->
    <bean id="myFortuneSetterInjection" class="io.spring.DIsetterInjection.HappyFortuneService"></bean>
    <bean id="ReactJSTopicsetterInjection" class="io.spring.DIsetterInjection.ReactJSFramework">
    <!-- Setter Injection -->
    <property name="fortuneService" ref="myFortuneSetterInjection"></property>
    <property name="desc" value="This is React JS framework"></property>
    </bean>
    
    
    <!-- Setter Injection using properties file -->
    <bean id="myFortuneSetterInjectionusingProps" class="io.spring.useOfpropertiesFile.HappyFortuneService"></bean>
    <bean id="ReactJSTopicsetterInjectionUsingProps" class="io.spring.useOfpropertiesFile.ReactJSFramework">
    <!-- Setter Injection -->
    <property name="fortuneService" ref="myFortuneSetterInjectionusingProps"></property>
    <property name="desc" value="${reactJs.desc}"></property>
    </bean>
    
    <!-- Bean Scopes -->
    <bean id="ReactJSTopicsetterInjectionSingltonObj" class="io.spring.beanScopes.ReactJSFramework">
    <!-- Setter Injection -->
    <property name="desc" value="${reactJs.desc}"></property>
    </bean>
    
     <bean id="ReactJSTopicsetterInjectionPrototypeObj" class="io.spring.beanScopes.ReactJSFramework" scope="prototype">
    <!-- Setter Injection -->
    <property name="desc" value="${reactJs.desc}"></property>
    </bean>
    
    <!-- Bean Life Cycle -->
    <bean id="ReactJSBeanLifeCycle" class="io.spring.beanLifeCycle.ReactJSFramework"
     init-method="startUpMethod" destroy-method="cleanUpMethod">
    <!-- Setter Injection -->
    <property name="desc" value="${reactJs.desc}"></property>
    </bean>
</beans>





